.blog {
  &-author {
    text-align: center;
    font-size: 1.5rem;
  }

  &__title {
    margin: 10px;
    text-align: center;
  }

  &__image-container {
    display: flex;
    margin: 10px;
    justify-content: center;
    &>a {
      background: linear-gradient(rgba(255, 165, 0, 0.5), rgba(255, 165, 0, 0.5));
      overflow: hidden;
      height: 150px;
    }
    & img {
      &:hover {
        transform: scale(1.15) rotate(-10deg);
        opacity: 0.8;
      }
    }
  }

  &__content {
    width: 60%;
    margin: 15px auto;
    line-height: 1.5em;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: rgb(102, 96, 18);
    }
  }
  &__pagination {
    text-align: center;
  }
}

.article {
  &__image-container {
    display: flex;
    width: 100%;
    justify-content: center;
    &>img {
      max-width: 1200px;
      max-height: 800px;
      object-fit: contain;
    }
  }
  &__description {
    &-title {
      flex-basis: 100%;
      font-size: 40px;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

  &__content {
    margin: 30px 0;
  }

  &__links {
    display: flex;
    justify-content: center;
    & a {
      text-decoration: none;
      color: inherit;
    }

    &-previous {
      &>a {
        margin-right: 10px;
      }
    }
    &>span:has(a:hover) {
      color: #3d3a3a;
    }
  }

  &__comments {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;

    &>h3 {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
    &>.commentlist {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
  }
  a {
    text-decoration: none;
    color: #53532d;
    &:hover {
      color: #493b3b;
    }
  }
}