.site-footer {
  position: relative;
  width: 100%;
  color: white;
  & a {
    text-decoration: none;
    color: white;
    transition: 0.2s ;
    &:hover {
      color: #888;
    }
  }
  & li {
    margin: 5px 0;
    list-style: none;
    padding: 5px 0;
  }
  & h3 {
    padding-bottom: 15px;
  }
  &__col-one {
    flex-basis: 40%;
    padding: 25px
  }
  &__col-two {
    padding: 25px;
  }
  &__col-three {
    margin: 10px;
    text-align: center;
    & h2 {
      margin: 10px 10px 10px 0;
    }
  }
  &__col-four {
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 25px;
    text-align: center;
  }
  &__col-one {
    & h1 {
      font-weight: 100;
    }
  }
}

.group-four {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  @media (min-width: 860px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
  }
}