.site-header {
  &__container {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    background-color: #666;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    &>h1 {
      flex-basis: 30%;
      padding: 20px;
    }
    .container__menu-group {
      flex-basis: 60%;
      & .main-navigation {
        flex-basis: 50%;
        & ul {
          display: flex;
          justify-content: space-around;
          & li {
            list-style: none;
            flex-basis: 30%;
            padding: 20px 0;
            justify-content: center;
            & a {
              display: block;
              text-decoration: none;
              color: white;
              text-align: center;
              margin: 0 auto;
              font-size: 20px;
              padding: 10px 0;
              border-bottom: 1px solid transparent;
              &:hover {
                color: black;
                border-bottom: 1px solid black;
              }
            }
          }
        }
      }
    }
    & a {
      display: block;
      width: 80%;
      text-decoration: none;
      color: white;
      transition: 0.2s ;
      &:hover {
        color: black;
      }
    }
  }
}