* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #999;
}

.main {
  min-height: 90vh;
  margin: 0 20px;
}

h1 {
  font-family: 'Roboto', 'arial', sans-serif;
  // font-weight: 100;
}

